<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Bem vindo ao exame-online</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid ">
    <div class="row bg-white">
      <img src="img/ban2.jpg" style="filter: grayscale(100%);" class="img-fluid" width="100%">
    </div>

    <div class="row bg-white mt-2">
      <div class="col-sm-12 mt-2">
        <h4>Exame online</h4>
        <p class="card-text">
          é um website criado no intuito de ajudar alunos que desejam testar o seu domínio nos topicos lecionadas no
          ensino médio, básico. Principalmente aos que ingressam ao ensino superior. No website são disponibilizados
          exames de ingressos de diversas universidades e as respectivas correcções. Por meio da resolução deste poderá
          perceber o nível do domínio sobre as diferentes áreas.
        </p>
        <p>
          A partir do website poderá encontrar exercícios resolvidos, organizados por tópicos, áreas de saber, assim
          como exames dos anos passados.
          O website dispõe de alguns cursos, assim como “explicações e preparação para exames de admissão para
          universidades ”.

        </p>
        <a href="/aluno/cadastro" class="btn btn-info">Efectue o seu cadastro e prepare seu futuro</a>
        <p>
      </div>
    </div>
   <!--
       <br>
    <div class="row  bg-white"><font>
        <div class="col-sm-3 mt-2">
          <a href="#">
          <i class="nav-icon fas fa-folder"></i>
          </a>
        </div>
    </div> -->
 <br>
</section>