<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pagina de Acesso</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body" style="filter: grayscale(50%);background-image: url('/img/img6.jpg');background-size: cover;">
                        <div class="row">
                            <div class="col-md-6 description-block border-right" >
                                <!-- /.login oplacesss 
                                class="description-block border-right"

                                 background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover
                                -->
                              <!--  <div class="card" style="border-left: 5px solid"> -->
                                   <!-- <div class="card-body">-->
                                    <div class="row" style="border-write: 5px solid;">
                                        <form action="/pessoa/login" method="post" style="width: 98%; text-align:left;" >
                                            <label for="email">Email :</label>
                                            <input class="form-control" type="text" id="email" name="email"
                                                placeholder="digite o email">
                                            <label for="senha">Senha :</label>
                                            <input class="form-control" type="password" id="senha" name="senha"
                                                placeholder="password">

                                            <button type="submit" class="btn btn-success mt-2">Entrar</button>
                                        </form>
                                    </div>
                                <!--</div>-->
                                <!-- /.login places fim -->
                            </div>
                           
                            <!-- /.col -->
                            <div class="col-md-6 description-block border-right" >
                                <p class="text-center">
                                    <strong>BEM VINDO</strong>
                                </p>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-3 col-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-success"><i class="fas fa-caret-up"></i>
                                        17%</span>
                                    <h5 class="description-header">$35,210.43</h5>
                                    <span class="description-text">TOTAL REVENUE</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i>
                                        0%</span>
                                    <h5 class="description-header">$10,390.90</h5>
                                    <span class="description-text">TOTAL COST</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-6">
                                <div class="description-block border-right">
                                    <span class="description-percentage text-success"><i class="fas fa-caret-up"></i>
                                        20%</span>
                                    <h5 class="description-header">$24,813.53</h5>
                                    <span class="description-text">TOTAL PROFIT</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-6">
                                <div class="description-block">
                                    <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i>
                                        18%</span>
                                    <h5 class="description-header">1200</h5>
                                    <span class="description-text">GOAL COMPLETIONS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
</section>