<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Teste javascript</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v2</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<style>
</style>
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row bg-orange">
            <!--
            <div class="col-sm-4">
                <h1>Popup/Modal Windows without JavaScript</h1>
            </div> -->
            <div class="col-md-6" >

                <div class="alert bg-yellow modal-content col-md-6" id="modal-content">
                     This is an alert box.
                    <!--<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>   -->       
                </div>
                <!--
                <div class="alert alert-success col-sm-6" role="alert">
                    This is a success alert—check it out!
                </div> -->
            </div>
            <div class="col-md-6 bg-danger" >
                <div id="divspiner" class="divspiner">
                </div>

            </div>
        </div>
    </div>
</section>





<script src="/js/pro_js/teste.js"></script>