<!-- Content Header (Page header) -->


<div id="iderror" class="alert"
    style="display:none;border-left: 5px solid #CD6155; margin-left:10px; background-color:#F9EBEA; color:#CD6155"
    role="alert">
    Não foi possivel carregar página, falha de conexão..
</div>
<div id="divspiner" class="divspiner">
    <!-- div usada para animacao de loading -->
</div>
<div class="content-header" id="divcontainer2" style="display:block;">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Minhas disciplinas </h1>
               <!-- <input type="hidden" id="idpessoa_" name="idpessoa_" value="{{user.key}}"></input> -->
                <input type="hidden" id="idpessoa" name="idpessoa" value="2" ></input>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/" style="color:#6A5ACD;">Inicio</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content" id="divcontainer" style="display:block;">
    <div class="container-fluid" id="div_conteudo">
        

    </div>
</section>
<script src="/js/pro_js/minhasdisciplinas.js"></script>