<div class="container-fluid">
    <div class="row">
        <div class="col-md-4  bg-success">
            <div class="card">
                <div class="card-header">
                    <a class="see-all" href="#">
                        <h4 style="color:#192b5e;" class="card-title"><i class="fa fa-user" aria-hidden="true"></i>
                            Dados Pessoais
                        </h4>
                    </a>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <img src="/img/img1.jpg" style="margin-left: 2%;" class="avatar  img-thumbnail mt-2"
                                alt="avatar" width="96%">
                            <a class="users-list-name text-center" href="#">Perfil/s:</a>
                            <!-- <p style="color:black;"></i>Eng </p>-->
                        </div>
                        <div class="col-md-6 text-center mt-2">
                            <h3>Chimbinde</h3>
                            <h5>Francisco Jaime</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p style="color:black;" class="mt-3">
                        &nbsp <i class="fa fa-envelope"></i>&nbsp chimbinde001@gmail.com
                    </p>
                </div>
            </div>

        </div>

        <div class="col-md-8 bg-info">
            <div class="card  ">
                <div class="card-body ">
                    glkblkbkb
                </div>
            </div>
        </div>
    </div>

</div>